<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>{{name}}'s First Angular Project</h1>
  <img width="300" alt="Angular Logo" src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/62056908_10217170806015229_128944676391616512_n.jpg?_nc_cat=103&_nc_sid=05277f&_nc_ohc=Vo3yICddotUAX8L5LGt&_nc_ht=scontent-ort2-1.xx&oh=89791da84bdc32e417de6e268a6c4d51&oe=5F48F0EB">
</div>
<p>The rectangle has a length of {{rectangle.length}} cm, a width of {{rectangle.width}} cm,
  and an area of {{rectangle.area()}} cm^2.</p>
<h2>Here are some links to help you start: </h2>

<ul>
  <li>
    <h2>{{itemList[0]}}</h2>
  </li>
  <li>
    <h3>{{itemList[1]}}</h3>
  </li>
  <li>
    <h2>{{itemList[2]}}</h2>
  </li>
</ul>

